<footer class="uv-footer footer-bg section-separator">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-item">
          <h6>Liên hệ</h6>
          <address>
            123 ABCD, quận 1, TP.HCM
          </address>
          <ul>
            <li>
              <a href="javascript:void(0);"><i class="fa fa-phone"></i>+08 123456789</a>
            </li>
            <li>
              <a href="javascript:void(0);"
                ><i class="fa fa-envelope-o"></i>contact@curricular.com</a
              >
            </li>
          </ul>
          <ul class="social">
            <li>
              <a href="/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="/"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="/"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a href="/"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-item">

        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-item">
          <h6>Trang</h6>
          <ul>
            <li><a href="">Thi cử</a></li>
            <li><a href="">Cổng hỗ trợ online</a></li>
            <li><a href="">Học trực tuyến</a></li>
            <li><a href="">Tài liệu</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
