<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= title %></title>
  <% include ../../partials/admin/head %>

  <script>
    function KTtieude() {
      if (document.getElementById('TITLE_COURSE').value != '') {

        tieude.innerText = "";
        return true;
      }
      else {
        tieude.innerText = "* chưa nhập mô tả";
        return false;
      }
    }


    function KTmota() {
      if (document.getElementById('DESCRIPTION_COURSE').value != '') {

        mota.innerText = "";
        return true;
      }
      else {
        mota.innerText = "* chưa nhập mô tả";
        return false;
      }
    }

    function KTlink() {
      if (document.getElementById('IMAGE_COURSE').value != '') {

        hinhanh.innerText = "";
        return true;
      }
      else {
        hinhanh.innerText = "* chưa nhập mô tả";
        return false;
      }
    }

    function KTsotuan() {
     
      if (document.getElementById('TOTAL_WEEK').value != '') {

       
          tuan.innerText = "";
          return true;

      }
      else {
        tuan.innerText = "chưa nhập số tuần";
        return false;
      }
    }
    function KTngay() {      
      if (document.getElementById('START_DAY').value != '') {
        var specific_date = new Date('START_DAY');
        var current_date = new Date();
        if (current_date.getTime() > specific_date.getTime()) {
          ngay.innerText = "* ngày bắt đầu không hợp lệ";
          return false;
        }
        else {
          ngay.innerText = "";
          return true;
        }

      }
      else {
        ngay.innerText = "chưa nhập ngày bắt đầu";
        return false;
      }
    }


    function SubmitForm() {
      if (KTtieude() == false || KTmota() == false || KTlink() == false || KTsotuan() == false || KTngay() == false) {
        alert("Bạn chưa nhập đầy đủ và đúng thông tin");
        return false;
      }
      return true;
    }

  </script>

</head>

<body class="fix-header">

  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>

  <div id="wrapper">
    <% include ../../partials/admin/leftmenu %>

    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row bg-title">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Quản lý khóa học</h4>
          </div>
          <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
              <li><a href="/admin">Trang chủ</a></li>
              <li class="active">Quản lý khóa học</li>
            </ol>
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <div class="white-box">
              <form class="form-horizontal form-material" action="/admin/course/edit" method="post">

                <input type="hidden" name="ID" value="" />

                <div class="form-group">
                  <label class="col-md-12">Tiêu đề khóa học</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Nhập tiêu đề khóa học.." id="TITLE_COURSE"
                      class="form-control form-control-line" value="" name="TITLE_COURSE" onBlur="KTtieude()"/>
                    
                    </div>
                    <span id="tieude" class="text-danger"></span>
                </div>

                <div class="form-group">
                  <label for="example-email" class="col-md-12">Mô tả khóa học</label>
                  <div class="col-md-12">
                    <textarea placeholder="Nhập mô tả khóa học.." id="DESCRIPTION_COURSE"
                      class="form-control form-control-line" name="DESCRIPTION_COURSE" onBlur="KTmota()"></textarea>
                      
                    </div>
                  <span id="mota" class="text-danger"></span>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Link hình ảnh</label>
                  <div class="col-md-12">
                    <input type="text" placeholder="Nhập link hình ảnh.." id="IMAGE_COURSE"
                      class="form-control form-control-line" name="IMAGE_COURSE" onBlur="KTlink()"/>
                      
                    </div>
                    <span id="hinhanh" class="text-danger"></span>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Số tuần</label>
                  <div class="col-md-12">
                    <input type="number" placeholder="Nhập số tuần.." id="TOTAL_WEEK"
                      class="form-control form-control-line" value="" name="TOTAL_WEEK" min="1" onBlur="KTsotuan()"/>
                     
                    </div>
                    <span id="tuan" class="text-danger"></span>
                </div>

                <div class="form-group">
                  <label class="col-md-12">Ngày bắt đầu</label>
                  <div class="col-md-12">
                    <input type="date" placeholder="Nhập ngày bắt đầu.." id="START_DAY"
                      class="form-control form-control-line" value="" name="START_DAY" 
                      onBlur="KTngay()"/>
                      
                    </div>
                    <span id="ngay" class="text-danger"></span>
                </div>

                <div class="form-group">
                  <label class="col-sm-12">Trạng thái</label>
                  <div class="col-sm-12">
                    <select class="form-control form-control-line" name="STATUS_COURSE">
                      <option value="1" selected>Hoạt động</option>
                      <option value="0">Ngưng hoạt động</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <button class="btn btn-success" onclick="return SubmitForm();" type="submit">
                      Lưu
                    </button>
                    <button class="btn btn-light" type="button" onclick="window.location.href='/admin/index'">
                      Quay lại
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
  </div>

  <!-- <script>

    function submitform() {
      if ($('#TITLE_COURSE').val().trim().length == 0 ||
        $('#DESCRIPTION_COURSE').val().trim().length == 0 ||
        $('#IMAGE_COURSE').val().trim().length == 0 ||
        $('#TOTAL_WEEK').val().trim().length == 0 ||
        $('#START_DAY').val().trim().length == 0) {

        alert('Vui lòng điền đầy đủ thông tin!');
        return false;

      } else {
        $('form').submit();
      }
    }
  </script> -->

  <% include ../../partials/admin/footer %>
</body>

</html>