<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <% include ../partials/head %>

    <style>
      .iframe {
        widows: 200px;
        height: 200px;
      }
    </style>
  </head>

  <body class="grey lighten-3 row">
    <div id="chat"></div>
  </body>

  <script src="/bundle.js"></script>
</html>
