<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%- title %></title>
    <% include ../../partials/head %>
  </head>

  <body class="page-not-found">
    <% include ../../partials/header %>

    <section class="uv-course-archive">
      <div class="container">
        <br />
        <div class="row">
          <div class="col-md-5">
            <div class="lop-hoc-truc-tuyen">
              <div class="tieu-de-lop-hoc-truc-tuyen">
                <h5>LỚP HỌC TRỰC TUYẾN</h5>
              </div>

              <img src="/study/images/android.jpg" />
              <div class="button-lop-hoc-truc-tuyen">
                <a href="./class">
                  <div
                    class="col-md-4 button-under-image button-under-image-left"
                  >
                    <p>Vào lớp nhanh</p>
                  </div></a
                >
                <div
                  class="col-md-4 button-under-image button-under-image-middle"
                >
                  <p>Chọn lớp</p>
                </div>
                <a href="./class-room.html"
                  ><div
                    class="col-md-4 button-under-image button-under-image-right"
                  >
                    <p>Dự thính</p>
                  </div></a
                >
              </div>
              <div class="lop-hoc-info">
                <div class="lop-hoc-info-content">
                  <h5>Chủ đề: Lập trình android</h5>
                  <p>Lập trình android cơ bản đến nâng cao bài 1</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2">
            <div class="time-remaining">
              <p class="title-time-remain">Thời gian còn lại</p>
              <p class="content-time-remain">00:10:24</p>
            </div>
            <div>
              <div class="shift shift-left"><p>Ca 08:00</p></div>
              <div class="shift shift-right"><p>Ca 09:00</p></div>
            </div>
            <div>
              <div class="shift shift-left"><p>Ca 10:00</p></div>
              <div class="shift shift-right"><p>Ca 11:00</p></div>
            </div>
            <div>
              <div class="shift shift-left"><p>Ca 12:00</p></div>
              <div class="shift shift-right"><p>Ca 13:00</p></div>
            </div>
          </div>

          <div class="col-md-5">
            <div class="lop-hoc-truc-tuyen">
              <div class="tieu-de-lop-hoc-truc-tuyen">
                <h5>LỚP HỌC THẢO LUẬN</h5>
              </div>

              <img src="/study/images/android.jpg" />
              <div class="button-lop-hoc-truc-tuyen">
                <a href="./class-room.html">
                  <div
                    class="col-md-4 button-under-image button-under-image-left"
                  >
                    <p>Vào lớp nhanh</p>
                  </div></a
                >
                <div
                  class="col-md-4 button-under-image button-under-image-middle"
                >
                  <p>Chọn lớp</p>
                </div>
                <a href="./class-room.html"
                  ><div
                    class="col-md-4 button-under-image button-under-image-right"
                  >
                    <p>Dự thính</p>
                  </div></a
                >
              </div>
              <div class="lop-hoc-info">
                <div class="lop-hoc-info-content">
                  <h5>Chủ đề: Lập trình android</h5>
                  <p>Lập trình android cơ bản đến nâng cao bài 2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"><hr class="space" /></div>
          <div class="col-md-6">
            <div class="col-md-5 button-under-image button-kiem-tra-ki-thuat">
              <a href="./technical.html"><p>Kiểm tra kĩ thuật</p></a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5 button-under-image button-ho-tro-native">
              <p>Cổng hỗ trợ online</p>
            </div>
          </div>
          <div class="col-md-3"><hr class="space" /></div>
        </div>
        <br />
      </div>
    </section>

    <% include ../../partials/footerInfo %>
    <% include ../../partials/footer %>
  </body>
</html>
