.img-head {
  width: 300px;
}
.image-header {
  text-align: center;
}
p.title-kiem-tra-ki-thuat {
  font-size: 14px;
  font-weight: bold;
}
.button-dau-vao-am-thanh,
.button-microphone,
.button-phat-lai-am-thanh,
.button-truyen-du-lieu {
  height: 50px;
  padding-top: 10px;
  background-color: lightgrey;
  text-align: center;
}
.kiem-tra-micro {
  text-align: center;
}
.kiem-tra-micro button {
  width: 100px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.kiem-tra button {
  width: 177px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
